:root {
  --midnight-grren: #014e56;
  --light-color: #f67e7e;
  --white: #fff;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-green: #004047;
  --state-green: #012f34;
  --dark-green: #002529;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-700.woff") format("woff");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "arial", sans-serif;
  font-weight: 600;
  background-color: var(--midnight-grren);
}

.container {
  max-width: 1110px;
  padding: 0 165px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.header {
  margin-top: 77px;
  margin-bottom: 130px;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo-link {
  transition: all 0.2s;
}
.logo-link:hover {
  opacity: 0.8;
}
.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 40px;
  margin-left: 80px;
}
.nav__link {
  color: var(--white);
  transition: all 0.2s;
}
.nav__link:hover {
  color: var(--light-color);
}
.header__link {
  margin-left: auto;
  color: var(--white);
  padding: 10px 33px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  transition: all 0.2s;
}
.header__link:hover {
  background-color: var(--white);
  color: var(--midnight-grren);
}
.header__btn {
  display: none;
  width: 25px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url(../img/header-menu.svg);
  background-position: center right;
  background-repeat: no-repeat;
  margin-left: auto;
  cursor: pointer;
}
.intro-container {
  display: flex;
  margin-bottom: 114px;
}
.intro-box {
  width: 540px;
  margin-right: 32px;
}
.intro_title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  color: var(--white);
  margin-bottom: 16px;
}
.intro_text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--light-color);
  margin-bottom: 54px;
}
.intro-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding-left: 90px;
}
.intro_item {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.item-text {
  margin: 0;
  padding: 0;
}
.intro_item_one::before {
  display: inline-block;
  content: url(../img/work-img1.svg);
  position: absolute;
  left: -90px;
}
.intro_item_two::before {
  display: inline-block;
  content: url(../img/work-img2.svg);
  position: absolute;
  left: -90px;
}
.intro_item_three::before {
  display: inline-block;
  content: url(../img/work-img3.svg);
  position: absolute;
  left: -90px;
}
.intro-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form_user {
  padding-bottom: 16px;
  padding-left: 14px;
  background-color: var(--midnight-grren);
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  width: 540px;
  color: var(--white);
}
.form_textarea {
  max-width: 540px;
  min-width: 540px;
  max-height: 86px;
  min-height: 86px;
  padding-left: 14px;
  color: var(--white);
  border: none;
  outline: none;
  background-color: var(--midnight-grren);
  border-bottom: 1px solid #fff;
}
.form_btn {
  width: 123px;
  padding: 10px 32px;
  color: var(--deep-green);
  background: var(--white);
  border: 2px solid #ffffff;
  border-radius: 24px;
  cursor: pointer;
}
.footer {
  background-color: var(--dark-green);
}
.footer-container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  align-items: center;
}
.footer-box {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.footer-logo:hover {
  opacity: 0.8;
}
.box-one-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
.box-one-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
  transition: all 0.2s;
}
.box-one-link:hover {
  color: var(--light-color);
}
.footer-box-two {
  margin: 0;
  padding: 0;
  margin-left: 125px;
  width: 430px;
}
.box-two-text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.6;
}
.footer-box-three {
  margin: 0;
  padding: 0;
  margin-left: 110px;
  width: 255px;
}
.box-two-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  margin-bottom: 51px;
  padding-left: 150px;
}
.box-three-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;

  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.6;
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 40px;
  }
  .header {
    margin-top: 50px;
    margin-bottom: 110px;
  }
  .intro-container {
    align-items: center;
    flex-direction: column;
  }
  .intro_title {
    text-align: center;
  }
  .intro_text {
    text-align: center;
  }
  .intro-list {
    padding-left: 130px;
    padding-bottom: 120px;
  }
  .form_btn {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-box-one {
    margin-left: 50px;
  }
  .box-two-list {
    margin: 0;
    padding: 0;
  }
  .footer-box-two {
    width: 340px;
  }
  .footer-box-three {
    margin-left: 50px;
  }
  .box-three-list {
    padding: 0;
  }
}
@media only screen and (max-width: 825px) {
  .footer-box-three {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .footer {
    padding: 56px 0;
  }
  .footer-container {
    display: block;
  }
  .footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
  }
  .footer-box-one {
    margin: 0;
  }
  .footer-box-three {
    display: flex;
  }
  .box-two-list {
    margin: 0;
    padding: 0;
  }
  .footer-logo {
    margin-bottom: 54px;
  }
  .footer-logo-img {
    width: 96px;
    height: 24px;
  }
  .box-one-link {
    font-size: 15px;
    line-height: 25px;
  }
  .footer-box-two {
    margin: 0;
    padding: 0;
    width: 280px;
    display: flex;
  }
  .box-two-text {
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
  }
  .box-one-list {
    gap: 24px;
  }
  .footer-box-three {
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }
  .box-three-text {
    width: 255px;
    margin: 0;
  }
}
@media only screen and (max-width: 650px) {
  .menu {
    position: fixed;
    background-color: var(--police-blue);
    display: none;
    flex-direction: column;
    z-index: 10;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    justify-content: unset;
    padding-top: 112px;
    gap: 36px;
  }
  .header-list {
    width: 49px;
    margin-bottom: 36px;
    flex-direction: column;
    gap: unset;
    margin-left: 48px;
    margin-right: auto;
    gap: 24px;
  }
  .nav__link {
    display: block;
  }
  .header__link {
    margin-left: 48px;
    margin-right: auto;
  }
  .header__btn {
    display: block;
  }
  .open-menu {
    display: block;
  }
  .open-btn {
    position: fixed;
    z-index: 11;
    right: 25px;
    background-image: url(../img/close.svg);
  }
}
@media only screen and (max-width: 600px) {
  .intro-form {
    width: 450px;
  }
  .form_user {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .form_textarea {
    max-width: 400px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 530px) {
  .intro-list {
    width: 300px;
    padding-left: 150px;
  }
  .intro_item {
    width: 300px;
  }
  .item-text {
    width: 300px;
  }
}
@media only screen and (max-width: 470px) {
  .intro-box {
    width: 390px;
  }
  .intro-list {
    width: 250px;
    padding-left: 100px;
  }
  .footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-box-one {
    margin: 0;
    margin-bottom: 40px;
  }
  .footer-logo {
    margin-bottom: 50px;
  }
  .footer-logo-img {
    width: 200px;
    height: 50px;
  }
  .box-one-list {
    justify-content: space-between;
  }
  .box-one-link {
    font-size: 25px;
    line-height: 35px;
  }
  .footer-box-two {
    margin: 0;
  }
  .box-two-text {
    text-align: center;
  }
  .footer-box-three {
    align-items: center;
    flex-direction: column;
  }
  .box-two-list {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 426px) {
  .container {
    max-width: 425px;
    padding: 0 24px;
  }
  .header {
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .header-logo-img {
    width: 128px;
    height: 32px;
  }
  .header-list {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header-btn {
    display: block;
  }
  .intro-box {
    width: 375px;
  }
  .intro-container {
    margin: 0;
    padding-bottom: 88px;
    background-image: url(../img/425.contact.bgi.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  .intro_title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .intro-text {
    font-size: 32px;
    line-height: 48px;
  }
  .intro-list {
    margin: 0;
    width: 232px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 64px;
  }
  .intro_item {
    width: 232px;
  }
  .intro-form {
    width: 325px;
  }
  .form_user {
    width: 325px;
  }
  .form_textarea {
    max-width: 325px;
    min-width: 325px;
  }
  .form_btn {
    margin: 0;
  }
  .footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-box-one {
    margin: 0;
    margin-bottom: 40px;
  }
  .footer-logo {
    margin-bottom: 50px;
  }
  .footer-logo-img {
    width: 200px;
    height: 50px;
  }
  .box-one-list {
    justify-content: space-between;
  }
  .box-one-link {
    font-size: 25px;
    line-height: 35px;
  }
  .footer-box-two {
    margin: 0;
  }
  .box-two-text {
    text-align: center;
  }
  .footer-box-three {
    align-items: center;
    flex-direction: column;
  }
  .box-two-list {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 376px) {
  .container {
    max-width: 376px;
    padding: 0 25px;
  }
  .intro-container {
    padding-bottom: 88px;
  }
  .intro-box {
    margin: 0;
    width: 325px;
  }
  .intro_text {
    width: 200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  .intro-list {
    padding: 0;
    margin: 0;
    margin-left: 94px;
    margin-right: auto;
    margin-bottom: 64px;
  }
  .intro-form {
    width: 325px;
  }
  .form_user {
    width: 309px;
  }
  .form_textarea {
    max-width: 309px;
    min-width: 309px;
  }
}
