:root {
  --midnight-grren: #014e56;
  --light-color: #f67e7e;
  --white: #fff;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-green: #004047;
  --state-green: #012f34;
  --dark-green: #002529;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
    url("../fonts/livvic-v13-latin-700.woff") format("woff");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Livvic", "arial", sans-serif;
  font-weight: 600;
  background-color: var(--midnight-grren);
}

.container {
  max-width: 1110px;
  padding: 0 165px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
.header {
  margin-top: 73px;
  margin-bottom: 130px;
}
.header-container {
  display: flex;
  align-items: center;
}
.logo-link {
  transition: all 0.2s;
}
.logo-link:hover {
  opacity: 0.8;
}
.header-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 40px;
  margin-left: 80px;
}
.nav__link {
  color: var(--white);
  transition: all 0.2s;
}
.nav__link:hover {
  color: var(--light-color);
}
.header__link {
  margin-left: auto;
  color: var(--white);
  padding: 10px 33px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  transition: all 0.2s;
}
.header__link:hover {
  background-color: var(--white);
  color: var(--midnight-grren);
}
.header-btn {
  display: none;
  width: 25px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url(../img/header-menu.svg);
  background-position: center right;
  background-repeat: no-repeat;
  margin-left: auto;
}
.intro {
  /* padding-bottom: 255px; */
  background-image: url(../img/bgi.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 100px) bottom;
}
.intro-container {
  display: flex;
  align-items: flex-end;
  padding-bottom: 255px;
}
.intro__title {
  margin: 0;
  padding: 0;
  width: 600px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: var(--white);
}
.intro__title span {
  color: var(--light-color);
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
}
.intro__text {
  position: relative;
  margin: 0;
  padding: 0;
  width: 445px;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
  margin-left: 65px;
}
.intro__text::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: var(--white);
  position: absolute;
  top: -79px;
}
.works {
  background-color: var(--state-green);
  padding-top: 198px;
  background-image: url(../img/work-bgi.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.works-container {
  display: flex;
  gap: 220px;
  padding-bottom: 140px;
}
.works-title {
  position: relative;
  margin: 0;
  padding: 0;
  width: 445px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--white);
}
.works-title::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 4px;
  background-color: var(--light-color);
  position: absolute;
  top: -54px;
}
.works-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.works-item {
  position: relative;
}
.work-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--light-color);
  margin-bottom: 16px;
}
.work-text {
  margin: 0;
  padding: 0;
  width: 445px;
  color: var(--white);
}
.work-item-one::before {
  display: inline-block;
  content: url(../img/work-img1.svg);
  position: absolute;
  left: -100px;
  top: 10px;
}
.work-item-two::before {
  display: inline-block;
  content: url(../img/work-img2.svg);
  position: absolute;
  left: -100px;
  top: 10px;
}
.work-item-three::before {
  display: inline-block;
  content: url(../img/work-img3.svg);
  position: absolute;
  left: -100px;
  top: 10px;
}
.user {
  border-color: var(--deep-green);
}
.user-container {
  padding-top: 140px;
  padding-bottom: 151px;
  background-image: url(../img/user-bgi2.svg), url(../img/user-bgi1.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}
.user-title {
  margin: 0;
  padding: 0;
  width: 932px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 92px;
}
.user-span {
  color: var(--rapture-blue);
}
.user-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}
.user-item {
  width: 350px;
}
.user-text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--white);
  margin-bottom: 24px;
}
.user-mini-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: var(--rapture-blue);
  margin-bottom: 2px;
}
.user-text-one {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Livvic";
  font-style: italic;
  font-size: 13px;
  line-height: 18px;
  color: var(--white);
  margin-bottom: 32px;
}
.user-img {
  margin-left: auto;
  margin-right: auto;
}
.started {
  background-color: var(--light-color);
}
.started-container {
  padding-top: 76px;
  padding-bottom: 76px;
  display: flex;
  background-image: url(../img/star-bgi.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.started-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--state-green);
  margin-left: 63px;
}
.started-link {
  padding: 10px 32px;
  color: var(--state-green);
  border: 2px solid var(--state-green);
  border-radius: 24px;
  transition: all 0.2s;
  margin-left: 260px;
}
.started-link:hover {
  background-color: var(--state-green);
  color: var(--white);
}
.footer {
  background-color: var(--dark-green);
}
.footer-container {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  align-items: center;
}
.footer-box {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.footer-logo:hover {
  opacity: 0.8;
}
.box-one-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
.box-one-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
  transition: all 0.2s;
}
.box-one-link:hover {
  color: var(--light-color);
}
.footer-box-two {
  margin: 0;
  padding: 0;
  margin-left: 125px;
  width: 430px;
}
.box-two-text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.6;
}
.footer-box-three {
  margin: 0;
  padding: 0;
  margin-left: 110px;
  width: 255px;
}
.box-two-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  margin-bottom: 51px;
  padding-left: 150px;
}
.box-three-text {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;

  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.6;
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 40px;
  }
  .intro-container {
    padding-bottom: 200px;
  }
  .intro__title {
    width: 600px;
    font-size: 90px;
    line-height: 90px;
  }
  .intro__text {
    font-size: 16px;
    line-height: 26px;
  }
  .works-container {
    gap: 120px;
    padding-bottom: 100px;
  }
  .works-item {
    width: 400px;
  }
  .work-text {
    width: 400px;
  }
  .user-container {
    padding-top: 100px;
    padding-bottom: 130px;
  }
  .started-container {
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: end;
    margin-right: 40px;
  }
  .started-title {
    font-size: 40px;
    line-height: 40px;
  }
  .started-link {
    margin-left: 180px;
  }
  .footer-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer-box-one {
    margin-left: 50px;
  }
  .box-two-list {
    margin: 0;
    padding: 0;
  }
  .footer-box-two {
    width: 340px;
  }
  .footer-box-three {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
  .header {
    margin-top: 64px;
    margin-bottom: 112px;
  }
  .logo-link {
    width: 128px;
    height: 32px;
  }
  .header-list {
    margin-left: 40px;
  }
  .intro {
    background-image: url(../img/768.intro.bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  .intro-container {
    padding-bottom: 256px;
  }
  .intro__title {
    width: 350px;
    font-size: 64px;
    line-height: 56px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 24px;
  }
  .intro__text {
    width: 457px;
    font-size: 15px;
    line-height: 28px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .intro-container {
    display: block;
  }
  .intro__title span {
    font-size: 64px;
    line-height: 56px;
  }
  .intro__text::before {
    display: none;
  }
  .works {
    padding-top: 136px;
    background-position: top right;
  }
  .works-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding-bottom: 100px;
  }
  .works-title {
    font-size: 32px;
    line-height: 32px;
    margin-right: 100px;
    margin-bottom: 64px;
    position: relative;
  }
  .works-title::before {
    display: inline-block;
    content: "";
    width: 50px;
    height: 4px;
    background-color: var(--light-color);
    position: absolute;
    top: -32px;
  }
  .works-list {
    margin-left: 100px;
  }
  .works-item {
    width: 478px;
  }
  .work-item-one::before {
    left: -90px;
  }
  .work-item-two::before {
    left: -90px;
  }
  .work-item-three::before {
    left: -90px;
  }
  .user-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .user-list {
    align-items: center;
    flex-direction: column;
    gap: 84px;
  }
  .user-title {
    width: 490px;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 84px;
  }
  .user-item {
    width: 573px;
  }
  .user-text {
    margin-bottom: 16px;
  }
  .user-text-one {
    margin-bottom: 16px;
  }
  .started-container {
    padding-top: 76px;
    padding-bottom: 76px;
    align-items: center;
    background-image: url(../img/768.star.bgi.png);
  }
  .started-title {
    width: 336px;
    font-size: 32px;
    line-height: 32px;
  }
  .started-link {
    margin-left: 84px;
    display: flex;
    justify-content: end;
  }
  .footer {
    padding: 56px 0;
  }
  .footer-container {
    display: block;
  }
  .footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
  }
  .footer-box-one {
    margin: 0;
  }
  .footer-box-three {
    display: flex;
  }
  .box-two-list {
    margin: 0;
    padding: 0;
  }
  .footer-logo {
    margin-bottom: 54px;
  }
  .footer-logo-img {
    width: 96px;
    height: 24px;
  }
  .box-one-link {
    font-size: 15px;
    line-height: 25px;
  }
  .footer-box-two {
    margin: 0;
    padding: 0;
    width: 280px;
    margin-left: 302px;
    display: flex;
  }
  .box-two-text {
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
  }
  .box-one-list {
    gap: 24px;
  }
  .footer-box-three {
    margin: 0;
    width: 100%;
    justify-content: space-between;
  }
  .box-three-text {
    width: 255px;
    margin: 0;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    max-width: 560px;
    padding: 0 20px;
  }
  .header {
    margin-top: 50px;
  }
  .intro-container {
    padding-bottom: 200px;
  }
  .works-container {
    padding-bottom: 100px;
  }
  .works-title {
    width: 300px;
  }
  .works-list {
    margin-left: 170px;
  }
  .works-item {
    width: 378px;
  }
  .work-text {
    width: 378px;
    margin: 0;
  }
  .user-container {
    padding-top: 110px;
    padding-bottom: 50px;
  }
  .user-title {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .user-list {
    gap: 50px;
  }
  .user-item {
    width: 550px;
  }
  .user-text {
    width: 550px;
  }
  .started-container {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .started-title {
    margin: 0;
    margin-bottom: 30px;
  }
  .started-link {
    margin: 0;
  }
  .footer-box-two {
    margin-left: 0;
  }
}
@media only screen and (max-width: 550px) {
  .container {
    max-width: 550px;
    padding: 0 25px;
  }
  .header {
    margin-top: 50px;
  }
  .logo-link {
    width: 160px;
    height: 40px;
  }
  .header-list {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header-btn {
    display: block;
  }
  .intro-container {
    padding-bottom: 200px;
  }
  .works-container {
    padding-bottom: 40px;
  }
  .works-title {
    width: 300px;
  }
  .works-list {
    margin-left: 100px;
  }
  .works-item {
    width: 327px;
  }
  .works-text {
    width: 327px;
  }
  .user-container {
    padding-top: 110px;
    padding-bottom: 70px;
  }
  .user-title {
    width: 500px;
  }
  .user-list {
    gap: 60px;
  }
  .user-item {
    width: 500px;
  }
  .user-text {
    width: 500px;
  }
  .started-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .started-title {
    margin-bottom: 40px;
  }
  .footer-box-two {
    margin-left: 175px;
  }
  .box-two-text {
    width: 220px;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    max-width: 500px;
  }
  .header {
    margin-top: 40px;
  }
  .intro__text {
    width: 350px;
  }
  .works {
    padding-top: 80px;
  }
  .works-container {
    padding-bottom: 60px;
  }
  .works-title {
    margin-bottom: 90px;
  }
  .works-list {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 120px;
  }
  .works-item {
    width: 400px;
  }
  .work-title {
    text-align: center;
  }
  .work-text {
    width: 400px;
    text-align: center;
  }
  .work-item-one::before {
    top: -65px;
    left: 165px;
  }
  .work-item-two::before {
    top: -65px;
    left: 165px;
  }
  .work-item-three::before {
    top: -65px;
    left: 165px;
  }
  .user-container {
    padding-top: 120px;
    padding-bottom: 140px;
  }
  .user-title {
    width: 450px;
    margin-bottom: 65px;
  }
  .user-item {
    width: 450px;
  }
  .user-list {
    gap: 50px;
  }
  .user-text {
    width: 450px;
  }
  .started-container {
    margin: 0;
    padding-bottom: 70px;
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .started-title {
    margin: 0;
    margin-bottom: 50px;
  }
  .started-link {
    margin: 0;
  }
  .footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-box-one {
    margin: 0;
    margin-bottom: 50px;
  }
  .footer-logo {
    width: 200px;
    margin-bottom: 40px;
  }
  .footer-logo-img {
    width: 200px;
    height: 50px;
  }
  .box-one-list {
    justify-content: space-between;
  }
  .box-one-link {
    font-size: 25px;
    line-height: 35px;
  }
  .footer-box-two {
    margin: 0;
  }
  .box-two-text {
    text-align: center;
  }
  .footer-box-three {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .box-two-list {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 426px) {
  .container {
    max-width: 426px;
  }
  .header {
    margin-top: 40px;
  }
  .works-container {
    padding-bottom: 64px;
  }
  .works-title {
    width: 240px;
    margin-bottom: 144px;
  }
  .works-list {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 130px;
  }
  .works-item {
    width: 350px;
  }
  .work-title {
    text-align: center;
  }
  .work-text {
    width: 350px;
    text-align: center;
  }
  .work-item-one::before {
    top: -65px;
    left: 130px;
  }
  .work-item-two::before {
    top: -65px;
    left: 130px;
  }
  .work-item-three::before {
    top: -65px;
    left: 130px;
  }
  .user-container {
    padding-top: 140px;
    padding-bottom: 160px;
  }
  .user-title {
    width: 350px;
  }
  .user-list {
    gap: 60px;
  }
  .user-item {
    width: 350px;
  }
  .user-text {
    width: 350px;
  }
  .started-container {
    margin: 0;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .started-title {
    margin: 0;
    margin-bottom: 30px;
  }
  .started-link {
    margin: 0;
  }
  .footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-box-one {
    margin: 0;
    margin-bottom: 40px;
  }
  .footer-logo {
    margin-bottom: 50px;
  }
  .footer-logo-img {
    width: 200px;
    height: 50px;
  }
  .box-one-list {
    justify-content: space-between;
  }
  .box-one-link {
    font-size: 25px;
    line-height: 35px;
  }
  .footer-box-two {
    margin: 0;
  }
  .box-two-text {
    text-align: center;
  }
  .footer-box-three {
    align-items: center;
    flex-direction: column;
  }
  .box-two-list {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 376px) {
  .container {
    max-width: 376px;
    padding: 0 24px;
  }
  .header {
    margin-top: 48px;
    margin-bottom: 80px;
  }
  .logo-link {
    width: 128px;
    height: 32px;
  }
  .header-list {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header-btn {
    display: block;
  }
  .intro-container {
    padding-bottom: 197px;
  }
  .intro__title {
    width: 240px;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
  }
  .intro__title span {
    font-size: 40px;
    line-height: 40px;
  }
  .intro__text {
    width: 327px;
    font-size: 15px;
    line-height: 28px;
  }
  .works-container {
    padding-bottom: 64px;
  }
  .work {
    width: 240px;
    margin: 0;
    padding: 0;
    margin-right: auto;
  }
  .works-title {
    width: 240px;
    margin-bottom: 144px;
  }
  .works-list {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 136px;
  }
  .works-item {
    width: 327px;
  }
  .work-item-one::before {
    top: -65px;
    left: 130px;
  }
  .work-item-two::before {
    top: -65px;
    left: 130px;
  }
  .work-item-three::before {
    top: -65px;
    left: 130px;
  }
  .work-title {
    text-align: center;
    margin-bottom: 8px;
  }
  .work-text {
    width: 327px;
    text-align: center;
  }
  .user-container {
    padding-top: 140px;
    padding-bottom: 165px;
  }
  .user-title {
    width: 327px;
    font-size: 32px;
    line-height: 32px;
  }
  .user-item {
    width: 327px;
  }
  .user-text {
    width: 327px;
  }
  .started-container {
    margin: 0;
    padding: 83px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }
  .started-title {
    width: 327px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0;
  }
  .started-link {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-logo {
    margin-bottom: 24px;
  }
  .box-one-list {
    margin-bottom: 24px;
  }
  .footer-box-one {
    margin: 0;
  }
  .footer-box-two {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .box-two-text {
    text-align: center;
  }
  .footer-box-three {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
}
